article.demo {
    display: block;
    width: 300px;
    height: 300px;
    background-color: #EEEEEE;
    /* max-width: 80%; */
    perspective: 600px;
    position: relative;
}

flip-card {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
}

flip-card > *[hidden] {
    display: hidden;
}

flip-card > :is(:first-child, :nth-child(2)):not([hidden]) {
    display: block;
    width: 300px;
    height: 300px;
    position: absolute;
    backface-visibility: hidden;
}

flip-card > :first-child {
    background-color: #FFAAAA;
}

flip-card > :nth-child(2) {
    background-color: #AAFFFF;
    transform: rotateY(180deg);
}

flip-card.flipped {
    transform: rotateY(180deg); 
}

/* article#chaining-demo {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
} */