article.demo {
    width: fit-content;
    height: fit-content;
    background-color: #EEEEEE;
}

flip-card > div {
    width: 200px;
    height: 200px;
}

flip-card > :first-child {
    background-color: #FFAAAA;
}

flip-card > :nth-child(2) {
    background-color: #AAFFFF;
}