article.demo {
    width: fit-content;
    height: fit-content;
    background-color: #EEEEEE;
    perspective: 600px;
}

flip-card {
    display: block;
    transition: transform 700ms;
    transform-style: preserve-3d;
    cursor: pointer;
}

flip-card > :is(:first-child, :nth-child(2)):not([hidden]) {
    display: block;
    width: 300px;
    height: 300px;
    backface-visibility: hidden;
}

flip-card > :first-child {
    background-color: #FFAAAA;
    position: absolute;
}

flip-card > :nth-child(2) {
    background-color: #AAFFFF;
    transform: rotateY(180deg);
}

flip-card.flipped {
    transform: rotateY(180deg); 
}