article.demo {
    background-color: #EEEEEE;
    max-width: 80%;
}

flip-card > :is(:first-child, :nth-child(2)) {
    display: block;
    width: 300px;
    height: 300px;
}

flip-card > :first-child {
    background-color: #FFAAAA;
}

flip-card > :nth-child(2) {
    background-color: #AAFFFF;
}

/* article#chaining-demo {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
} */