body {
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER */
header {
    padding: 0 5%;
    display: flex;
    align-items: center;
    grid-row: 1;
    grid-column: 1 / -1;
}

a {
    color: black;
    text-decoration: underline;
}

header a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header > h1 {
    display: block;
    justify-self: flex-start;
    align-self: flex-start;
    margin: 0 0;
}

header > nav {
    margin-left: auto;
    display: flex;
    flex-flow: row nowrap;
    column-gap: 2em;
    font-size: 125%;
    /* font-weight: bold; */
}

header nav li {
    list-style: none;
}

/* MAIN */

main {
    width: min(100%, 1200px);
    margin: 0 auto;
}

p, li, h2, h3, h4, h5 {
    width: min(100%, 900px);
}

h1 {
    font-size: 350%;
}

header > p {
    font-size: 150%;
    font-style: italic;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 125%;
}

/* I just like bold for emphasis instead */
em {
    font-weight: bold;
    font-style: normal;
}

section#images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


figure video {
    width: 50%;
}

figure.double video {
    width: 100%;
}


figure {
    margin:0.5em;
}

figure.double {
    display: grid;
    grid-template-areas: "first second" "caption caption";
    gap: 1em;
}

figure.double video:first-child {
    grid-area: "first";
}

figure.double video:nth-child(2) {
    grid-area: "second";
}

figure.double figcaption {
    grid-area: caption;
}

figcaption {
    font-style: italic;
}